@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-[90%] w-[1080px] mx-auto;
}

* {
  scroll-behavior: smooth;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s ease-in-out infinite;
}